.filters {
    background-color: white;
    height: 70px;
    width: 1000px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin: auto;
}

.filters button {
    font-size: 18px;
    background-color:#FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    margin-left: auto;
    vertical-align: center;
}

button:hover {
    opacity: 0.9;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.amenities {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    font-weight: 600;
    text-indent: 40px;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    text-indent: 40px;
}